<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<bean class="com.autowiring.annotation.BeanA" name="beanA2">
		<property name="name" value="Agfh Tiwari" />
	</bean>




	<context:annotation-config />

	<bean class="com.autowiring.annotation.BeanB">
		<property name="name" value="Rudransh Tiwari" />
	</bean>

</beans>